:root {
    --hover-color: rgb(187, 187, 187);
    --text-color: white;
    --border-color: white;
    --background-color: rgba(255, 255, 255, 0.15);
    --background-hue: 0deg;
    --secondary-green: rgb(0, 24, 7);
    --rainbow-anim: none;
}
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding: 5vh;
}

html {
    font-size: 0.52vw;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes rainbow {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

/*-------nav start------------*/

nav {
    width: 100%;
    background: linear-gradient(black, var(--secondary-green), black);
    filter: hue-rotate(var(--background-hue));
    height: 5vh;
    position: fixed;
    top: 0;
    z-index: 500;
    border-bottom: 0.15vw solid var(--border-color);
    display: flex;
    font-size: 3rem;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    margin-right: 2vw;
    font-weight: bold;
}

nav a:hover {
    color: var(--hover-color);
    animation: var(--rainbow-anim);
}

.dropdown {
    position: absolute;
    left: 0;
    top: 4.9vh;
    opacity: 0;
    z-index: 999;
    background: linear-gradient(black, var(--secondary-green), black);
    border: 0.15vw solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    width: 21.9vw;
}

.has-dropdown:focus-within .dropdown {
    opacity: 1;
    pointer-events: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown li {
    display: flex;
    align-items: center;
    padding: 0.5vw;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-dropdown {
    margin-right: auto;
    margin-left: 1vw;
}

#theme-button {
    border: 0.15vw solid var(--border-color);
    background-color: transparent;
    color: var(--text-color);
    position: absolute;
    left: 0;
    top: 0;
    width: 21.9vw;
    height: 5vh;
    font-size: 3rem;
    animation: var(--rainbow-anim);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#theme-button:hover {
    border: 0.15vw solid var(--hover-color);
    cursor: pointer;
    color: var(--hover-color);
}

nav label {
    color: var(--text-color);
    font-weight: bold;
}

#hue-slider {
    appearance: none;
    background: var(--text-color);
    border-radius: 999px;
    height:0.3vw;
    width: 15vw;
}

#hue-slider:hover {
    cursor: pointer;
}

#hue-slider::-webkit-slider-thumb {
    appearance: none;
    background: var(--secondary-green);
    border-radius: 999px;
    border: 0.15vw solid var(--border-color);
    width: 1.5vw;
    height: 1.5vw;
}
#hue-slider::-moz-range-thumb {
    appearance: none;
    background: var(--secondary-green);
    border-radius: 999px;
    border: 0.15vw solid var(--border-color);
    width: 1.5vw;
    height: 1.5vw;
}

input[type="checkbox"] {
    appearance: none;
    background-color: var(--text-color);
    font: inherit;
    width: 2vw;
    height: 2vw;
    border-radius: 0.15vw;
    display: grid;
    place-content: center;
    margin-left: 0.5vw;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 0.15vw;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--secondary-green);
    filter: hue-rotate(var(--background-hue));
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

/*---------hero start----------*/

#hero {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 5vh;
    left: 0;
    color: var(--text-color);
    display: flex;
    overflow: hidden;
}

#info {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 30%;
    height: 100%;
    position: absolute;
    justify-content: center;
    z-index: 1;
    left: 15vw;
}

#info h1 {
    font-size: 7rem;
}

#info h2 {
    font-size: 4rem;
}

#info h3 {
    font-size: 3rem;
}

#info a {
    font-size: 4rem;
    border-radius: 9999px;
    padding: 0.6vw;
    border: 0.15vw solid var(--border-color);
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    margin: 0 auto;
}

#info a:hover {
    color: var(--hover-color);
    border: 0.15vw solid var(--hover-color);
    cursor: pointer;
    animation: var(--rainbow-anim);
}

#portrait {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#photo {
    height: 15.1vw;
    width: 15.1vw;
    position: absolute;
    border: 0.2vw solid var(--border-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    transition: transform 1s;
}

#photo:active {
    transform: scale(2);
}

#photo:hover {
    cursor: pointer;
    border: 0.2vw solid var(--hover-color);
    animation: var(--rainbow-anim);
}

#photo img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.social {
    position: absolute;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    border-radius: 50%;
    transform-origin: 50% 50%;
    height: 10.4vw;
    width: 10.4vw;
    z-index: 10;
}

#social1 {
    animation: orbit 30s linear infinite;
}

#social2 {
    animation: orbit 35s linear infinite;
}

#social3 {
    animation: orbit 40s linear infinite;
}

#social4 {
    animation: orbit 45s linear infinite;
}

#social5 {
    animation: orbit 50s linear infinite;
}

.social-icon {
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    border: 0.15vw solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    font-size: 1.6vw;
    color: var(--text-color);
}

.social-icon:hover {
    border: 0.15vw solid var(--hover-color);
    cursor: pointer;
    color: var(--hover-color);
    animation: var(--rainbow-anim);
}

#social-icon1 {
    animation: icons 30s linear infinite, var(--rainbow-anim);
    left: -5.2vw;
}

#social-icon2 {
    animation: icons 35s linear infinite, var(--rainbow-anim);
    left: -7.8vw;
}

#social-icon3 {
    animation: icons 40s linear infinite, var(--rainbow-anim);
    left: -10.4vw;
}

#social-icon4 {
    animation: icons 45s linear infinite, var(--rainbow-anim);
    left: -13vw;
}

#social-icon5 {
    animation: icons 50s linear infinite, var(--rainbow-anim);
    left: -15.6vw;
}

@keyframes orbit {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes icons {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

#hero-background {
    position: fixed;
    height: 100%;
    width: 100%;
    filter: brightness(0.3) hue-rotate(var(--background-hue));
    z-index: -1;
}

/*----------hero end------------*/

hr {
    width: 90%;
    margin: 0 auto;
}

.section-head {
    font-size: 8rem;
    text-align: center;
    margin-top: 2.6vw;
    margin-bottom: 2.6vw;
}

.section {
    color: var(--text-color);
    width: 80%;
    margin: 0 auto;
    padding: 5vw 0;
    font-size: 3rem;
}

/*---------about start--------*/

#about {
    padding-right: 5vw;
    padding-left: 5vw;
}

#about-div {
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 1vw;
    padding: 0.5vw;
}

#about article {
    font-size: 3rem;
}

#about article::first-letter {
    font-size: 6rem;
}

/*-----------skills start------------*/

#skills-container {
    display: flex;
    gap: 0.5vw;
    align-items: center;
    justify-content: center;
}

.skill-topic {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1vw;
    padding: 0.5vw;
}

.skill-topic p i:first-of-type {
    margin-left: 2vw;
}

/*-----------certifications start------------*/

#certs-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.cert {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1vw;
    max-width: 35vw;
    padding: 0.5vw;
}

.cert-name {
    font-size: 5rem;
    font-weight: bold;
}

.cert-info {
    font-size: 3rem;
}

.cert-description {
font-size: 2rem;
}

/*-----------projects start------------*/

#projects-container {
    display: flex;
    flex-direction: column;
    gap: 10vw;
}

#project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.images-holder {
    width: 20vw;
    height: 20vw;
    position: relative;
    border-radius: 1vw;
}

#project3-image {
    width: 30vw;
}

.images-holder button {
    background: rgba(255, 255, 255, 0.2);
    color: var(--text-color);
    padding: 0.5vw;
    border-radius: 999px;
    position: absolute;
    z-index: 5;
    font-size: 3rem;
    border: 1px solid var(--border-color);
}

.images-holder button:hover {
    color: var(--hover-color);
    border: 1px solid var(--hover-color);
    cursor: pointer;
    animation: var(--rainbow-anim);
}

.left-button {
    left: 1vw;
    top: 8vw;
}

.right-button {
    right: 1vw;
    top: 8vw;
}

.images-holder img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 1vw;
    border: 0.15vw solid var(--border-color);
    transition: transform 1s;
}

.images-holder img:active {
    transform: scale(2);
    z-index: 99;
}

.images-holder img:hover {
    cursor: pointer;
    border: 0.15vw solid var(--hover-color);
    animation: var(--rainbow-anim);
}

#project-info {
    width: 50vw;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 1vw;
    padding: 0.5vw;
}

#project-info h3 {
    font-size: 4rem;
    text-align: center;
}

#project-info article {
    font-size: 2rem;
}

#info-buttons {
    position: relative;
    bottom: 0;
    margin-top: 1vw;
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.info-button {
    text-decoration: none;
    color: var(--text-color);
    border: 0.15vw solid var(--border-color);
    border-radius: 999px;
    padding: 0.5vw;
}

.info-button:hover {
    color: var(--hover-color);
    border: 0.15vw solid var(--hover-color);
    animation: var(--rainbow-anim);
}

/*-----------call to action start------------*/

#contact article {
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 1vw;
    padding: 0.5vw;
    margin-bottom: 3vw;
}

#form-div {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.input-div50 {
    width: 50%;
}

.input-div100 {
    width: 100%;
}

.form-input {
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 1vw;
    padding: 0.5vw;
    font-size: 3rem;
    border: 0.15vw solid var(--border-color);
}

.form-label {
    font-size: 4rem;
    font-weight: bold;
}

#name-email-div {
    color: var(--text-color);
    border-radius: 1vw;
    display: flex;
    gap: 1vw;
}

#subject-input {
    width: 100%;
}

#submit-button {
    width: 25%;
    border: 0.15vw solid var(--text-color);
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 1vw;
    padding: 0.5vw;
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#submit-button:hover {
    border: 0.15vw solid var(--hover-color);
    color: var(--hover-color);
    cursor: pointer;
    animation: var(--rainbow-anim);
}

/*-----------footer start------------*/

footer {
    background: linear-gradient(black, var(--secondary-green), black);
    width: 100%;
    border-top: 0.15vw solid var(--text-color);
    filter: hue-rotate(var(--background-hue));
    display: flex;
    align-items: center;
    justify-content:space-between;
    color: var(--text-color);
}

footer div {
    display: flex;
}

#footer-div-holder {
    width: 100%;
}

.footer-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5vw;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
}

#thank-you {
    width: 70%;
    font-size: 2rem;
    padding-left: 3vw;
    padding-right: 3vw;
}

#thank-you a {
    text-decoration: none;
    color: var(--text-color);
}
#thank-you a:hover {
    color: var(--hover-color);
}

.contact-info {
    margin-bottom: 0.5vw;
    text-decoration: none;
    color: var(--text-color);
    font-size: 3rem;
    animation: var(--rainbow-anim);
}

.contact-info:hover {
    color: var(--hover-color);
}

#resume a {
    font-size: 5rem;
    border-radius: 9999px;
    padding: 0.6vw 2vw;
    border: 0.15vw solid var(--border-color);
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    animation: var(--rainbow-anim);
}

#resume a:hover {
    border: 0.15vw solid var(--hover-color);
    color: var(--hover-color);
}